body {
    background: #7b68ee;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}




aside {
    float: left;
    background: #32174d;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: black;
    border-right: 5px solid #8dd2ff;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-position-y: 31px;
    backdrop-filter: blur (10px);
    background: transparent;

}

aside img {
    width: 150px;
    float: center;
    padding-left: 15px;
}

aside ul {list-style: none}

aside ul li {
    color: #7b68ee;
    display: block;
    margin-top: 30px;
    font-size: 21px;
    transition: transform .3s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #8dd2ff;
    text-decoration: none;
    transform: scale(1.03)
}

main .features {
    float: center;
    color: black;
    text-align: center;
}

main .features p {
    max-width: 1100px;
    float: center;
    margin: 25vh auto;
    font-size: 30px;
    padding-left: 42vh;
    padding-top: 6vh;
    color: #8dd2ff;
}

main .features h1 {
    font-size: 55px;
    color: #8dd2ff;
    padding: 32px 0;
}

