body {
    background: #7b68ee;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur (10px);
}




aside {
    float: left;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    border-right: 5px solid #8dd2ff;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-position-y: 31px;
    filter: blur (10px);

}



aside img {
    width: 150px;
    float: center;
    padding-left: 15px;
}

aside ul {list-style: none; }

aside ul li {
    color: #7b68ee;
    display: block;
    margin-top: 30px;
    font-size: 21px;
    transition: transform .3s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #8dd2ff;
    text-decoration: none;
    transform: scale(1.03)
}



main .contents p {
    width: 750px;
    margin: 25vh auto;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 20%; left: 280px;
    backdrop-filter: blur(15px);
    margin-left: 15%;

    box-shadow: 30px 20px 50px #200d34;
    border-radius: 15px;
    border-top: 1px solid #617a8a;
    border-left: 1px solid #617a8a;

    background: rgba(255, 255, 255, .1);
    padding: 30px;

    text-align: center;


}

main .header h1 {
    font-size: 55px;
    color: #8dd2ff;

    width: 360px;

    text-align: center;
    align-item: center;

    margin-left: 294px;
    margin-right: 6px;

    padding-top: 45px;
    padding-down: 20px;
    padding-left: 509px;
    padding-right: 660px;
}



