* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    filter: blur (10px);
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background: purple;
    padding: 6px 14px;
}

.sidebar .logo-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.sidebar .logo-menu .logo {
    height: 20px;
    font-size: 25px;
    color: white;
    pointer-events: none;
}

.sidebar .logo-menu .toggle-btn {
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;

}


.sidebar .list {
    margin-top: 10px;
    padding-left: 0;
}

.list .list-item {
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
}


.list .list-item a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: .3s;

}


.list .list-item.active a,
 .list .list-item a:hover   {
    background: rgba(255, 255, 255, .2);
}


.list .list-item a i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;


}

main .contents .smth {
    width: 750px;
    margin: 5vh auto;
    font-size: 30px;
    color: #91be8d;
    position: absolute;
    top: 20%; left: 280px;
    backdrop-filter: blur(15px);
    margin-left: 15%;

    box-shadow: -30px 20px 50px #040d14;
    border-radius: 15px;
    border-top: 1px solid #617a8a;
    border-right: 1px solid #617a8a;
    background: rgba(255, 255, 255, .1);
    padding: 30px;
    padding-left: 100px;
    text-align: left;
}


main .contents .block1 {
    margin: 5vh auto;
}

main .contents .block2 {
    margin: 80vh auto;
}

main .contents .block3 {
    margin: 142vh auto;
}

main .contents .block1 .block_header, main .contents .block2 .block_header {
    font-size: 55px;
    padding-bottom: 50px;
    color: #53be48;
}



main .header h1 {
    font-size: 55px;
    color: #d3e8d0;
    width: 360px;
    text-align: center;
    align-item: center;
    margin-left: 294px;
    margin-right: 6px;
    padding-top: 45px;
    padding-down: 20px;
    padding-left: 490px;
    padding-right: 660px;

    text-shadow:
    0 0 5px #53be48,
    0 0 10px #53be48,
    0 0 20px #53be48,
    0 0 50px #53be48,
    0 0 100px #53be48;
}



