{% extends 'main/layout.html' %}
{% load static %}

{% block title %}About{% endblock %}


{% block content %}

    <div class="contents-about">

        <div class="header">
            <h1 REFL-TEXT="ABOUT"><strong>ABOUT</strong></h1>
        </div>

        <div class="frame frame1">
            <div class="frame-content">
                <div class="text">
                    <h2>Hello, world</h2>
                    <p>My name is Roma I'm a 21 year old beginner web and python developer from Stavropol, Russia.
                        In my 3rd year at university, I realized that I didn’t like my specialty
                        at all and that I didn’t want to develop in the direction of economic security.
                        So I started immersing myself in the world of code and programming. I quickly
                        became fascinated by this activity and am passionate about learning programming.</p>
                </div>

                <div class="image">
<!--                    <img src="{% static 'main/img/1.jpg' %}" alt="df" class="img1-about">-->
                </div>

            </div>
        </div>

        <div class="frame frame2">
            <div class="frame-content">
                <div class="text">
                    <h2>Just the beginning</h2>
                    <p>My journey in the IT field is just beginning. I've already
                        done several interesting projects and I'm not going to stop.
                        This site is my first step in learning web programming.
                        I completely immersed myself in creating the site, trying
                        to make it modern and beautiful. I hope I succeeded at least a little)).</p>
                </div>

                <div class="image">
<!--                    <img src="{% static 'main/img/logo2.png' %}" alt="df" class="img2-about">-->
                </div>

            </div>
        </div>

        <div class="frame frame3">
            <div class="frame-content">
                <div class="text">
                    <h2>My strengths</h2>
                    <p>I have a number of key skills useful for an IT worker.
                        Among the main ones, I can note an analytical mind and
                        the ability to solve problems, finding solution algorithms,
                        completing work efficiently and on time. I really love
                        learning something new and am completely immersed in the learning
                        process. This site reveals information
                        about me and will continue to be updated and improved).</p>
                </div>

                <div class="image">
<!--                    <img src="{% static 'main/img/logo2.png' %}" alt="df" class="img3-about">-->
                </div>

            </div>
        </div>


    </div>

{% endblock %}


