{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Beauty{% endblock %}


{% block content %}
<div class="wrapper">

    <div class="back">
        <img src="{% static 'main/img/background3.png' %}" alt="" class="back_img">
        <div class="text0">
            <p class="p0">I still have a lot to learn and do to
                become a true professional and valuable specialist.
                Here are some directions for my future development </p>
        </div>
    </div>

    <div class="earth">
        <img src="{% static 'main/img/gallery_2.jpg' %}" alt="" class="earth_img">
        <div class="text1">
            <p class="p1">Deepening the study of css and various effects</p>
        </div>
    </div>

    <div class="bcg">
        <img src="{% static 'main/img/gallery_3.jpg' %}" alt="" class="bcg_img">
        <div class="text2">
            <p class="p2">Learning javascript primarily for frontend
                purposes, but backend is also possible</p>
        </div>
    </div>

        <div class="sea">
        <img src="{% static 'main/img/gallery_1.jpg' %}" alt="" class="sea_img">
        <div class="text3">
            <p class="p3">Сontinuing to study python, deepening
                knowledge and gaining new skills</p>
        </div>
    </div>

    <div class="bridge">
        <img src="{% static 'main/img/gallery_2.jpg' %}" alt="" class="bridge_img">
        <div class="text4">
            <p class="p4">Studying databases and working with them</p>
        </div>
    </div>

</div>


{% endblock %}