{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Beauty{% endblock %}


{% block content %}
<div class="wrapper">

    <div class="earth">
        <img src="{% static 'main/img/earth.jpg' %}" alt="" class="earth_img">
        <div class="text1">
            <p>shdfbdsbf dbfbdsfjbsdjfbdjhsbfsd fsdbf </p>
        </div>
    </div>

    <div class="bcg">
        <img src="{% static 'main/img/background.jpg' %}" alt="" class="bcg_img">
        <div class="text2">
            <p>shdfbdsbf dbfbdsfjbsdjfbdjhsbfsd fsdbf </p>
        </div>
    </div>

        <div class="sea">
        <img src="{% static 'main/img/sea.jpg' %}" alt="" class="sea_img">
        <div class="text3">
            <p>shdfbdsbf dbfbdsfjbsdjfbdjhsbfsd fsdbf </p>
        </div>
    </div>

    <div class="bridge">
        <img src="{% static 'main/img/bridge.jpg' %}" alt="" class="bridge_img">
        <div class="text4">
            <p>shdfbdsbf dbfbdsfjbsdjfbdjhsbfsd fsdbf </p>
        </div>
    </div>

</div>


{% endblock %}