{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description",
          content="I'm Roma lbj a rookie developer and here's something I want to tell you about myself" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'main/img/logo2.png' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
   /* <link rel="hortcut icon" href="{% static 'main/img/logo.png' %}">  */
    <link rel="shortcut icon" href="{% static 'main/img/logo2.png' %}">
    <link rel="shortcut icon" href="{% static 'main/img/background.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <aside>
        <a href="{% url 'home' %}" style="text-decoration: none;"><img src="{% static 'main/img/logo2.png' %}" alt="logo"></a>
        <ul>
            <a href="{% url 'home' %}" style="text-decoration: none;"><li><i class="fa-solid fa-house"></i> <strong>HOME</strong></li></a>
            <a href="{% url 'works' %}" style="text-decoration: none;"><li><i class="fa-solid fa-briefcase"></i> <strong>WORKS</strong></li></a>
            <a href="{% url 'about' %}" style="text-decoration: none;"><li><i class="fa-solid fa-circle-info"></i> <strong>ABOUT</strong></li></a>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>