{% extends 'main/layout.html' %}

{% block title %}Home{% endblock %}


{% block content %}
    <div class="header">
        <h1><strong>HOME</strong></h1>
    </div>
    <div class="contents">
        <div class="block1">
        <h2 class="block_header">I am a begginer python and web developer</h2>
            <span>IT is one of the most progressive spheres of work and very interesting and exciting as well. That's why I became interested of it and started learning the basiсs of code. And also I don't like at all the specialty I am studying at the university))</span>
        </div>
        <div class="block2">
        <h2 class="block_header">Here's my first web-site</h2>
            <span>It's my first experience in web so do not judge strictly😁. Here you can see some of my previous works and projects and know some information about me. It will be specially useful for potential employers. </span>
        </div>
        <div class="block3">
            <span>You are still here? Go to other section of site, who did I make it for?😄</span>
        </div>
    </div>

{% endblock %}

