{% extends 'main/layout.html' %}

{% block title %}Works{% endblock %}


{% block content %}
    <div class="header">
        <h1 REFL-TEXT="WORKS"><strong>WORKS</strong></h1>
    </div>
    <div class="container">
        <div class="card">
            <div class="content">
                <h2>01</h2>
                <h3>Math bot</h3>
                <p>Пусть бегут неуклюже пешеходы по луже, а вода по асфальту рекой,
                    и не ясно прохожим в этот день непогожий, почему я веселый такой</p>
            </div>

        </div>
                <div class="card">
            <div class="content">
                <h2>02</h2>
                <h3>Translator bot</h3>
                <p>Пусть бегут неуклюже пешеходы по луже, а вода по асфальту рекой,
                    и не ясно прохожим в этот день непогожий, почему я веселый такой</p>
            </div>

        </div>
                <div class="card">
            <div class="content">
                <h2>03</h2>
                <h3>Cash register app</h3>
                <p>Пусть бегут неуклюже пешеходы по луже, а вода по асфальту рекой,
                    и не ясно прохожим в этот день непогожий, почему я веселый такой</p>
            </div>

        </div>
    </div>

{% endblock %}
