{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Works{% endblock %}


{% block content %}
    <div class="header">
        <h1 REFL-TEXT="WORKS"><strong>WORKS</strong></h1>
    </div>
    <div class="container">
        <div class="card">
<!--            <img src="{% static 'main/img/logo2-white.png' %}" alt="df" class="img1">-->
            <div class="content">
                <h2>01</h2>
                <h3>MATH BOT</h3>
                <p>Telgram bot written in Python. It's based on
                    the use of the requests library and the use of asynchronous functions.
                    Thanks to the Wolframalfa's API, the bot solves equations and inequalities,
                    and the use of the matplotlib library allows you to draw and display graphs of equations.</p>

            </div>

        </div>
                <div class="card">
<!--                    <img src="{% static 'main/img/logo2-white.png' %}" alt="df" class="img1">-->
            <div class="content">
                <h2>02</h2>
                <h3>BOT TRANSLATOR</h3>
                <p>A Telgram bot written using VK API that allows you to translate text
                    into a foreign language up to 10 Word pages. Due to API restrictions, translation into
                    only 4 languages is possible, but for many this will be quite enough.
                    </p>
            </div>

        </div>
                <div class="card">
<!--                    <img src="{% static 'main/img/logo2-white.png' %}" alt="df" class="img1">-->
            <div class="content">
                <h2>03</h2>
                <h3>CASH REGISTER APP</h3>
                <p>An application written in Python with a GUI created in Tkinter.
                    This application allows you to maintain simple cash registers, apply
                    discounts and promotional codes and view your purchase history.</p>
            </div>

        </div>
    </div>


    <div class="link_buttons">
        <a href="https://t.me/a_litttle_bit_smart_bot" class="link_button1">OPEN</a>
        <a href="https://t.me/FirstRomBot" class="link_button2">OPEN</a>
        <a href="https://github.com/Romalbj/tkinter-cash-register/tree/master" class="link_button3">OPEN</a>
    </div>

{% endblock %}
